
$dark-bg: #E1C59E;
$light-bg: #fff;
$border-color: #B7A997;
$lighter-border-color: #F2E7D8;
$link-color: #B7A997;
$text-color: #968369;
$lightened-text-color: #E4DFD8;

.text_hide {
    overflow: hidden;
    display: block;
    text-indent: -99999px;
}

.unstyled_list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

html, body, p, ul, ol, li, form {
    margin: 0;
    padding: 0;
}


html {
    font: .85em 'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: $text-color;
    background: $light-bg;
    overflow: scroll;
}

h1 {
    position: absolute;
    left: -99999px;
}

h2, h3, h4 {
    font-weight: normal;
}

h2 {
    letter-spacing: -1px;
    font-size: 250%;
    font-weight: 300;
    margin-bottom: -10px;
}

h3 {
    font-size: 190%;
    font-weight: 300;
    margin-bottom: -20px;
}

img {
    border: 1px solid $border-color;
    padding: 5px;
}

a {
    color: $link-color;
    text-decoration: none;
}

p, li {
    line-height: 1.675em;
}

p, ul, form {
    margin: 20px 0px;
}

a:hover,
a:active {
    color: $text-color;
    text-decoration: underline;
}

nav {
    background: $dark-bg;
    height: 100px;
    border: 1px solid $border-color;

    ul {
        @extend .unstyled_list;
        width: 1200px;
        height: 100px;
        margin: 0 auto;
        background: url(/pics/head.png);
    }

    li {
        display: block;
        float: left;
        margin-top: 54px;
    }

    li:first-child {
        margin-left: 137px;
    }

    a {
        @extend .text_hide;
        outline: 0;
        width: 42px;
        height: 20px;
        transition: border-color .65s;
        border-bottom: 4px solid rgba(0, 0, 0, 0);
    }

    a:hover {
        border-color: $text-color;
    }

    li + li a {
        width: 61px;
    }

    li + li + li a {
        width: 67px;
    }
}

footer,
section {
    width: 900px;
    margin: 0 auto;
}

section:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}

footer {
    font-size: 90%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    color: $text-color;
    border-top: 1px solid $border-color;
    opacity: .4;
    transition: opacity 1s;

    a {
        display: block;
        padding-top: 20px;
    }

    img {
        border: 0;
    }
}

footer:hover {
    opacity: 1;
}

#me_pic {
    float: right;
    margin-left: 20px;
}

#article_list {
    @extend .unstyled_list;
    margin-top: 20px;
    min-height: 520px; /* we need this for #home_pic animation
                            eventually, the article list will be long
                            enough to not need this
                        */

    a {
        font-size: 200%;
        display: block;
        position: relative;
        padding-right: 6em;
        outline: 0;
    }

    small {
        display: block;
        text-align: right;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 50%;
    }

    li {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid $lighter-border-color;
    }

    li:last-child {
        border: 0;
    }
}

#home_pic {
    margin-top: 15px;
    width: 902px;
    height: 520px;
    position: relative;
    background: url(/pics/home-pic.jpg);
}

article img {
    float: right;
    clear: right;
    margin-left: 20px;
}

.content_pic.right {
    float: right;
    margin-left: 20px;
}

.content_pic.left {
    float: left;
    margin-right: 20px;
    margin-left: 0;
}